html {
    font-size: 11pt;
    font-family: "Linux Libertine O", serif;
}

body {

}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.1rem;
}

h4 {
    font-size: 1rem;
    font-style: italic;
}

hr {
    width: 33%;
    height: 0.5pt;
}

#printcontent {
    text-align: justify;
    -moz-hyphens: auto;
    hyphens: auto;

    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}

.pagebreak {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-style: italic;
}

.pagebreak p {
    margin: 1pt;
}

.pgnext {
    display: none;
}

.pgact {
    text-align: center;
}

.pgdescr {
    display: none;
}

.breadcrumb {
    display: none;
}

.nav {
    display: none;
}

.autor {
    font-style: italic;
}

.fnback {
    display: none;
}

.abstract {
    font-family: "Linux Biolinum O";
}

.fnnr {
    display: inline;
}

.fn {
    font-size: 0.9rem;
}

.fn dd {
    margin-left: 0.5em;
    margin-bottom: 1em;
}

.fn dd p {
    margin: 0px;
}
